.history {
  margin-top: -7px;
  height: 500px;
  overflow-y: auto;
  padding-right: 15px;
  margin-left: 43px;
}

.history__list {
  margin-top: 10px;
}

.history__alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}
